<header role="banner">
  <div class="holder">
    <label class="show-navigation" for="ShowNavigation">☰</label>
    {% if page_name == 'index' %}
      <h1><a href="/">R<span>obert Clancy</span></a></h1>
    {% else %}
      <a class="logo" href="/" R<span>obert Clancy</span></a>
    {% endif %}
    <nav role="navigation">
      <img class="dragon" src="/assets/images/rawwr.jpg" alt="">
      <ul>
        <li itemscope=true itemtype="http://schema.org/SiteNavigationElement">
          <a itemprop="url" href="/blog": span itemprop="name">Blog</a>
        </li>
        <li itemscope=true itemtype="http://schema.org/SiteNavigationElement">
          <a itemprop="url" href="/search": span itemprop="name">Search</a>
        </li>
        <li itemscope=true itemtype="http://schema.org/SiteNavigationElement">
          <a itemprop="url" href="/about": span itemprop="name">About</a>
        </li>
        <li itemscope=true itemtype="http://schema.org/SiteNavigationElement">
          <a itemprop="url" href="/contact": span itemprop="name">Contact</a>
        </li>
        <li class="icon">
          <a href="https://twitter.com/RobboClancy" target="_blank"><i class="fi-social-twitter"></i></a>
        </li>
        <li class="icon">
          <a href="http://github.com/robclancy" target="_blank"><i class="fi-social-github"></i></a>
        </li>
        <li class="icon">
          <a href="http://robertclancy.net/rss"><i class="fi-rss"></i></a>
        </li>
      </ul>
    </nav>
  </div>
</header>
