.article-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.article-list-item {
  margin: 0;
  padding: 12px 0;

  h3 {
    display: inline;
  }

  datetime {
    display: inline;
    color: #888;
    font-size: rem(15px);
  }
}
