// Mobile

header[role=banner] {
  @include linear-gradient(to bottom, rgba(45,48,53,1) 0%, rgba(47,50,55,1) 3%, rgba(47,50,55,1) 46%, rgba(39,43,46,1) 97% ,rgba(38,42,45,1) 99%, rgba(17,21,24,1) 100%);
  height: 71px;
  padding-top: 16px;
  line-height: 45px;
  vertical-align: bottom;
  
  h1, .logo {
    margin: 5px 0 0 40px;
    color: $link-color;
    font-family: 'Tienne', serif; 
    font-weight: bold;
    font-size: rem(27px);
    font-variant: small-caps; 
    text-shadow: 1px 1px 1px #000;
    letter-spacing: 2px;
    line-height: 1.2125em;
    
    span {
      color: white;
    }
    
    &:hover, a:hover {
      &, span {
        color: lighten($link-color, 10%);
        @include transition (all 0.2s ease-in-out);
        text-decoration: none;
      }
    }
  }
  
  .show-navigation {
    float: left;
    cursor: pointer;
    color: white;
    font-size: 30px;
    margin-top: -7px;
    &:hover {
      text-shadow: 0 0 10px lighten($link-color, 30%);
    }
  }
}

#ShowNavigation:checked + .wrapper .show-navigation {
  color: $link-color;
  &:hover {
    text-shadow: 0 0 10px darken($link-color, 10%);
  }
}

nav[role=navigation] {
  float: left;
  position: fixed;
  left: 0;
  bottom: 37px;
  top: 22px;
  width: 80%;
  line-height: rem(20px);
  background-color: #fefefe;
  box-shadow: 4px 0 2px -2px rgba(0,0,0, 0.1);
  overflow-y: auto;
  
  .dragon {
    opacity: 0.95;
    box-shadow: inset 1px 1px rgba(0,0,0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    margin: 0;
    
    a {
      display: block;
      font-size: rem(15px);
      padding: 5px 15px;
      color: darken($link-color, 20%);
      border-bottom: 1px solid rgba($link-color, 0.4);
      background-color: rgba(255,255,255, 0.5);
      
      &.active, &:hover {
        color: darken($link-color, 30%);
        background-color: rgba($link-color, 0.3);
        border-bottom-color: $link-color;
      }
    }
    
    &.icon {
      float: left;
      width: 33%;
      a {
        font-size: 22px;
        text-align: center;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  header[role=banner] {
    h1, .logo {
      margin-left: 0;
      float: left;
    }
    
    .show-navigation,
    .dragon {
      display: none;
    }
  }
  
  nav[role=navigation] {
    float: none;
    position: static;
    background-color: transparent;
    box-shadow: 0 0 0;
    padding: 9px 10px 0 20px;
    margin-left: 210px;
    width: auto;
    @include clearfix;
    
    li {
      float: left;
      line-height: inherit;
      
      a {
        background-color: transparent;
        color: #01acfe;
        text-shadow: 1px 1px 1px #000;
        border: 0 none;
        &:hover {
          color: #A2DAF5;
          background-color: transparent;
        }
      }
      &.icon {
        float: right;
        width: auto;
        a {
          font-size: 22px;
          color: white;
          &:hover {
            color: #01acfe;
          }
        }
      }
    }
  }
}
