.wrapper {
  overflow: hidden;
}

[role="banner"],
[role="navigation"],
[role="main"],
[role="contentinfo"] {
  @include transition(all .3s ease);
  width: 100%;
  float: left;
}

[role="navigation"] {
  margin-top: 50px;
  margin-left: -100%;
}

[role="main"] {
  margin-left: 0;
  margin-right: 0;
}

.active-nav [role="navigation"] {	
  margin-left: 0;
  width: 80%;
}

.active-nav [role="main"]{
	margin-right: -100%;
  float: right;
}