article {
  h2 {
    margin-bottom: 5px;
    &, a {
      color: #333;
    }
    a:hover {
      text-decoration: none;
    }
  }
  .thumbnail {
    float: right;
    margin: 0 0 5px 15px;
    border: solid 4px white;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
  }
  footer {
    font-size: rem(13px);
    color: #777;
  }
  .body {
    margin-top: 12px;
  }
}