* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Merriweather Sans', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #444;
  text-rendering: optimizeLegibility;
  margin-top: 0.2em;
  margin-bottom: 0.5em;
  line-height: 1.2125em;
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  font-size: 60%;
  color: #6f6f6f;
  line-height: 0;
}

h1 {
  font-size: rem(36px);
}

h2 {
  font-size: rem(27px);
}

h3 {
  font-size: rem(22px);
}

h4 {
  font-size: rem(18px);
}

h5 {
  font-size: rem(17px);
}

h6 {
  font-size: rem(16px);
}

p {
  font-size: rem(16px);
  line-height: 1.6;
  margin-bottom: 1.25em;
}
